@import "tailwindcss";

@font-face {
   font-family: 'Acumin Pro';
   src: url('../assets/fonts/AcuminPro-Thin.ttf') format('truetype');
   font-weight: 100;
   font-style: normal;
}

@font-face {
   font-family: 'Acumin Pro';
   src: url('./assets/fonts/AcuminPro-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Acumin Pro';
   src: url('../assets/fonts/AcuminPro-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Acumin Pro';
   src: url('../assets/fonts/AcuminPro-Semibold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Very Vogue';
   src: url('./assets/fonts/VeryVogue-Regular.otf') format('opentype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Very Vogue';
   src: url('./assets/fonts/VeryVogue-Italic.otf') format('opentype');
   font-weight: normal;
   font-style: italic;
}

@font-face {
   font-family: 'Classy Vogue';
   src: url('./assets/fonts/ClassyVogue-Regular.otf') format('opentype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Bodoni Moda';
   src: url('./assets/fonts/BodoniModa-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Bodoni Moda';
   src: url('./assets/fonts/BodoniModa-Italic.ttf') format('truetype');
   font-weight: normal;
   font-style: italic;
}

@theme {
   --font-acumin: 'Acumin Pro', sans-serif;
   --font-very-vogue: 'Very Vogue', serif;
   --font-classy-vogue: 'Classy Vogue', sans-serif;
   --font-bodoni-moda: 'Bodoni Moda', sans-serif;

   --color-primary: #244d3c;
   /* Verde oscuro */
   --color-secondary: #161616;
   /* Negro oscuro */
   --color-tertiary: #f2f0eb
      /* Blanco suave */
}